<div style="width: 100%; margin-left: auto; margin-right: auto;">
  <img media="screen" style="display: block; margin-left: auto; margin-right: auto;" width="80%" height="80%" src="http://api.secure.cloudmine.me/v1/app/933cd5ae80cfc140244a4158c5558db3/binary/{{imageid}}?apikey=30693a81d8a84f839439449357a427b2" />
  <p>Uploaded at {{imageData.createdAt | date : 'short'}}
  <p>Image URL <code>http://api.secure.cloudmine.me/v1/app/933cd5ae80cfc140244a4158c5558db3/binary/{{imageid}}?apikey=30693a81d8a84f839439449357a427b2</code></p>
</div>
