<div class='jumbotron'>
  <h2>CaputoIO</h2>
</div>

<div class=" marketing">
  <h2>My Projects</h2>

  <a class="btn btn-lg" ng-click="openGithub('watchdog')">
    <i class="fa fa-github fa-2x pull-left"/>
    <h4>WatchDog</h4>
  </a>
  <p style="text-indent: 20px;">
    An electron application that allows users to monitor their favorite Twitch streams right from the desktop.
  </p>
  <p>
    Download the current version <a href='http://stormageddon.github.io/'>here</a>.
  </p>

  <a class="btn btn-lg" ng-click="openGithub('steam-buddy')">
    <i class="fa fa-github fa-2x pull-left"/>
    <h4>Steam Buddy</h4>
  </a>
  <p style="text-indent: 20px;">
    A slack bot integration that notifies you when your friends have launched a game via Steam so you can join them.
  </p>

  <a class="btn btn-lg" ng-click="openGithub('picshare')">
    <i class="fa fa-github fa-2x pull-left"/>
    <h4>PicShare</h4>
  </a>
  <p style="text-indent: 20px;">
    A simple screen capture and sharing utility built for the Mac.
  </p>
  <p>
    Download the current version <a href='https://s3-us-west-2.amazonaws.com/caputoio-app-downloads/PicShare.zip'>here</a>.
  </p>
</div>
